{% extends "base.html" %}

{% block main %}
{% load static %}
<div class="home-header row">
    <div class="col-md-12 row home-header-quote">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 text-right">
            <h1>SinarPerak</h1>
            <h2>Tidak selamanya kita berkecukupan. Mari bantu yang membutuhkan.</h2>
            <div class="home-donate-button">
                <a class="btn btn-info button-self-style button-header-donate" role="button" href="{% url 'campaign:index' %}"> Donate Now</a>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="col-md-12 home-header-detail">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 row text-center">
                <div class="col-md-4 total-donation">
                    <h1>Rp. {{ total_donation }}</h1>
                    <h2>Funding</h2>
                </div>
                <div class="col-md-4">
                    <h1> {{ total_campaign }} </h1>
                    <h2>Campaign</h2>
                </div>
                <div class="col-md-4">
                    <h1> {{ total_account}} </h1>
                    <h2>Good People</h2>
                </div>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
</div>

<div class="home-campaign-section row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 row">
        <div class="col-md-12">
            <div class="campaign-title">
                <h1>Campaigns</h1>
            </div>
        </div>
        {% if campaign %}
        {% for campaign_item in campaign %}
        <div class="col-md-4 campaign-card text-center">

            <a href="{% url 'campaign:item' campaign_item.pk %}">

                <div class="item-campaign"  style="border-radius: 5px;">
                    <div class="header-card" style="background: url({{ campaign_item.imageurl }});
                        background-size: cover;">
                       
                    </div>
                    <div class="title-card">
                        <h4>{{ campaign_item.title }}</h4>
                    </div>
                    <div class="persen-card">

                        <h3></h3>

                    </div>
                    <div class="progress-card">
                        <progress max="100" value="54"></progress>
                    </div>
                    <div class="target-card">
                        <h5>Target</h5>
                        <h3>Rp {{ campaign_item.target }}</h3>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
        
        <div class="col-md-12 text-center">
            <div class="home-campaign-button">
                <a style="color: #ffffff;" class="btn btn-info button-self-style home-find-out-more-button" role="button" href="{% url 'campaign:index' %}">Find out more</a>    
            </div>
        </div>
        {% else %}
        <div class="col-md-12 text-center" style="padding-bottom: 20px;">
            <h3 style="color: #bdc3c7;">Belum ada campaign</h3>
        </div>
        {% endif %}
        
    </div>
    <div class="col-md-2">
        
    </div>    
</div>

<div class="home-news-section row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 row">
        <div class="col-md-12">
            <div class="news-title">
                <h1>News</h1>
            </div>
        </div>
        {% if news %}
        {% for news_item in news %}
        {% if forloop.first %}
        <div class="col-md-6 text-center">
            <a href="{% url 'news:item' news_item.pk %}">
                <div class="big-news" style="background: linear-gradient(
                    rgba(0, 0, 0, 0.3), 
                    rgba(120, 224, 143, 0.3)), 
                    url({{ news_item.imageurl }});
                    background-size: cover;">
                    <div class="detail-big-news">
                        <h3> {{ news_item.title }} </h3>
                        <p> {{ news_item.details|truncatechars:120 }} </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 row">
        {% else %}
            <div class="col-md-12">
                <div class="card-news row">
                    <div class="col-4 head-img" style="background: url({{ news_item.imageurl }})">

                    </div>
                    <div class="col-8">
                            <h5>{{ news_item.title }}</h5> 
                            <p> {{ news_item.details|truncatechars:40}} </p>
                    </div>

                </div>
            </div>
        {% endif %}
        {% endfor %}
            <div class="col-md-12">
                <div class="news-trending-button">
                    <a style="color: #ffffff;" class="btn btn-info button-self-style news-find-out-more-button text-center" role="button" href="{% url 'news:index' %}">Find out more</a>    
                </div>
            </div>
        {% else %}
        <div class="col-md-12 text-center">
            <h3 style="color: #bdc3c7;">Belum ada berita</h3>
        </div>
        {% endif %}
        </div>
        
    </div>
    <div class="col-md-2">

    </div>

</div>

<div class="tutorial-section row"  style="padding-top: 30px; padding-bottom: 40px;">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 row text-center">
        <div class="col-md-12 text-center"  style="padding-bottom: 40px;">
            <h1>How to donate?</h1>
        </div>
        <div class="col-md-4">
            <img class="head-tutorial" src="https://www.tailorsofdistinction.com.au/wp-content/uploads/2015/05/add-user.png"></img>
            <div class="detail-turorial" style="padding-top: 30px;">
                <p>Buat akun baru pada form registrasi yang ad apada menu login.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="head-tutorial" src="https://images-fe.ssl-images-amazon.com/images/I/319oHBg4nuL.png"></img>
            <div class="detail-turorial" style="padding-top: 30px;">
                <p>Pilih menu campaign dan pilih campaign mana yang ingin anda danai</p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="head-tutorial" src="https://bradan.co/wp-content/uploads/2017/01/icon-cash.png"></img>
            <div class="detail-turorial" style="padding-top: 30px;">
                <p>Lakukan pembayaran dengan cara transfer atau menggunakan kredit.</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>

{% endblock %}