{% extends "base.html" %}

{% block main %}
{% load static %}

<div class="user-profile mt-50">
    <div class="container">
        <!-- Right Content -->
        <div class="col-md-4">
            <div class="panel col-md-12">
                <div class="row user-img">
                </div>
            </div>

            <div class="panel col-md-12">
                <h2 class="profile-name">Belianda</h2> <br>
                
            </div>                

            <div class="panel col-md-12">
                <h3 class="widget-title">Telah Mendonasikan: <span class="raised auto-numeric" data-a-sep="." data-a-dec="," data-a-sign="Rp." data-v-max="500000000" data-v-min="0">Rp.0</span><br>
                </h3>
             </div>

        </div>

        <!-- Left Content -->
        <div class="col-md-8">
            <div class="panel col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Program</th>
                          <th scope="col">Jumlah Donasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Test</td>
                          <td>Rp.10.000.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
        
</div>


{% endblock %}