{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/logincss.css'%}">
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>

</head>
{% block main %}
<body class="donasi-body" style="width: 100%; height: 100%; background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/image.jpg'); background-size: cover;background-attachment: fixed; background-position-y: -200px;
    padding-top: 10%;">
    <div class="row"></div>
    <div class="row"></div>
    <div class="donasi-body row">
        <div class="col-md-1"></div>
        <div class="col-md-10 row" style="padding-left: 20%">
                <div class="donate" style="width: 630px; height: 500px; border: 10px solid #48DBFB; border-radius: 10px;background-color: #f0f8ff;">

                    <form id="form" class="row" method="POST" action={% url 'register:add_donate' url %}>

                        <div class="col-12 text-center">
                            <h2>Hello, {{ user.username }}!</h2>

                        <div class="col-12 text-center">
                            <h2>Donasi untuk {{ campaign_tujuan.title }}?</h2>

                        </div>

                        <div class="col-md-6" style="padding-left: 30px;">
                            {% csrf_token %}
                            <p>Jumlah donasi</p>
                            {{ donasi.jumlah_donasi }}
                            <p>Pesan</p>
                            {{ donasi.pesan }}
                            <br>
                            <br>
                            <p>{{ donasi.anonim }}  Anonymous</p>
                        </div>
                        <div class="col-md-6 tombol-donasi" >
                            <button class="save btn btn-default donasi" style="background-color: #ff6a6a">Donate now</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
            <br>
            <br><br><br>
        </div>
</body>
</html>
{% endblock %}
