{% extends 'base.html' %}

{% load static %} {% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{%static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "css/bootstrap/bootstrap-grid.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "css/style.css" %}">
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>
</head>
<body class="form-body">
    <div class="row"></div>
    <div class="row"></div>
    <div class="form-body row">
        <div class="col-md-2"></div>
        <div class="col-md-8 row">
            <div class="col-md-2"></div>
            <div class="border-form col-md-8">
                
                <div class="row text-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><p>Sign in</p></div>
                    <div class="col-md-4"></div>
                </div>
                    <form id="form" method="POST" action="{% url 'register:add_register' %}">
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="form-content">
                        <div class="row text-center">
                            <h2>&nbsp;&nbsp;&nbsp;Do you already have an account?</h2>
                        </div>
                        <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                        {% csrf_token %}
                                <p>Nama Lengkap</p>
                                {{ data.nama_lengkap }}
                                <p>Tanggal Lahir</p>
                                {{ data.tanggal_lahir }}
                                <p>Email</p>
                                {{ data.email }}
                                <p>Password</p>
                                {{ data.password }}
                                <br><br>
                                <button type="signs" class="btn btn-default" id="button-reg">Sign up</button>
                                <br>
                            </div>
                        <div class="col-md-6">
                            <br><br><br>
                            {% if failed == 1 %}
                            Email has already taken
                            {% endif %}
                            {% if failed == 2 %}
                            Account created
                            {% endif %}
                        </div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row"></div>
    <div class="row">
    </div>
</body>
</html>

{% endblock %}

