{% extends 'base.html' %}

{% block main %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Log in with google</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/logincss.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<script>
		$( function() {
		$( "#accordion" ).accordion({
		  collapsible: true
		});
		} );
		// $(window).load(function() {
		// // Animate loader off screen
		// $(".se-pre-con").fadeOut("slow");;
		// });
	</script>
</head>

<body>
	<!-- <div class="se-pre-con"></div> -->
	<div class="container">
	<div class="top-body">
		<div class="body-login">
			<div class="row">
				<div class="col-md-6">
					<p id="head-log">Login your account here!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p id="card1">
					  <a id="button" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					    Login with Google
					  </a>
					</p>
					<div class="collapse" id="collapseExample">
					  <div class="card card-body" id="icon-gog">	
					  	<a id="icon" href=" {% url 'register:social:begin' 'google-oauth2' %}"><i class="fa fa-google-plus"></i></a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
{% endblock %}
</html>


