{% extends "base.html" %}
{% block main %}
{% load static %}
<img src="https://i.ibb.co/J3xx3MS/people-to-people2.jpg" style = "border: 0%; width : 100%; height: 80%" class="img-fluid d-block" alt="news image">
<br><br>
<div class="container-fluid">

    <div class = "container-fluid">
        <div class="shadow-lg p-3 mb-5 bg-white rounded" >
        <h2><strong>Testimonial</strong></h2>
        </div>
    </div>
	
	{% if user.is_authenticated %}
    <div class = "container-fluid" >
    <div id="alert" class=""></div>
    <div class="card text-center">
      <div class="card-header">
        PesanKuUntukSinarPerak
      </div>
      <div class="card-body" style="text-align: left;">
        <h5 class="card-title">  Ceritakan pada kami</h5>
    	<form id="commentForm" class="form-group ml-2 mr-2">
        {% csrf_token %}
    		<input id="username" type="hidden" value="{{user.username}}">
    		<textarea id="commentArea"  class="form-control" rows="10" type="text" placeholder="Bagaimana dengan layanan kami?"></textarea><br>
    		<button class="btn btn-primary" type="submit" id='kirim' style="align-items: center;">Kirim</button>
    	</form>
      </div>
      <div class="card-footer text-muted">
        SebarkanKebermanfaatan
      </div>
    </div>
    </div><br><br>
    {% endif %}
	
    <div id = "isi" >
    {% if testimonis %}
    		{% for e in testimonis %}
    		<div class = "container-fluid" >
    			<div class="card">
    				<div class="card-header">
    					{{e.user_name}}
    				</div>
    				<div class="card-body">
    					<div class="row">
    						<div class="column">
    							<img src="http://www.eurogeosurveys.org/wp-content/uploads/2014/02/default_profile_pic.jpg" height ="50px"alt="">
    						</div>
    						<div class="column">
    							<blockquote class="blockquote mb-0">
    							  <p>{{e.description}}</p>
    							  <footer class="blockquote-footer"><small>On {{e.created_date}}</small></footer>
    							</blockquote>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div><br>
    		{% endfor %}
    {% else %}
    <div class = "container-fluid" align = "center" style="color: #bdc3c7;">
    	<h2>Belum ada berita</h2><br>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}