#profile-picture {
    border-radius: 50%;
    max-width: 25%;
}

.card {
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body {
    color: white;
}

hr {
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color:#fff;
    opacity: 0.8;
}