{% extends "base.html" %}
{% block main %}
{% load static %}

<img src="https://image.ibb.co/fanJwL/TYPE1.jpg" style = "width : 100%;" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
<div class = "d-flex justify-content-center"  style="padding-top: 40px;">
	<div class = "row">
 
		{% if campaign %}
		{% for items in campaign %}


		<div class = "col" align = "center" style="padding-bottom: 25px;" >

			<div class="card shadow-sm" style="width: 15rem;">
  				<img class="card-img-top" src={{ items.imageurl }} alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title"> {{ items.title }}</h5>
					<br>
    				<a href="{% url 'campaign:item' items.pk %}" class="btn text-light" style = "background-color: #FF4757;">Details</a>
				</div>
			</div>
		</div>


		{% endfor %}
		{% else %}

		<div class = "col-md-12" align = "center" style="padding-top: 40px; color: #bdc3c7;">
			<h2>Belum ada campaign</h2>
		</div>

		{% endif %}

		<div class="w-100"></div>
    
    	<div class = "col"><br><br> </div>
    	<div class = "col"><br><br> </div>
    	<div class = "col"><br><br> </div>
  </div>
</div>


{% endblock %}