{% extends "base.html" %}
{% block main %}
{% load static %}
<div class = "container">
	<div class = "row">
		<div class="col-2"></div>
		<div class = "col" style = "">
			<br><br><br><br>
			<p class="h1"> {{title}} </p>
			<hr style = "background-color: #48DBFB"><br>
			<img src={{ main_image }} style = "width : 100%;" class="img-fluid rounded mx-auto d-block" alt="Responsive image"><br>
			<p> {{ details }} </p><br>
			<a href="{% url 'register:add_donate' link_donate %}" class="btn btn-lg text-light btn-block" style = "background-color: #FF4757;">Donate now</a>
			<br>
		</div>
	<div class = "col-5" >
		<div class = "col donatenowgtgt" style = "">
			<br><br><br><br><br><br><br><br><br><br>
			<p class="h1">Rp. {{ collected }} </p>
			<p>Target : Rp. {{ target }} </p>
			<div class = "progress">

				<div class="progress-bar text-dark" role="progressbar" style="width: {{ percentage }}%; background-color:#48DBFB;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ percentage }}%</div>

			</div>
			<p align = "right">19 hari lagi</p>

			<a href="{% url 'register:add_donate' link_donate %}" class="btn btn-lg text-light btn-block" style = "background-color: #FF4757;">Donate now</a>

		</div>
		<div class = "col donaturgtgt" style = "">
			<br>
			<p class = "h1" style = "color: #48DBFB" align = "center">DONATUR</p><hr style = "background-color: #48DBFB;">
			<br>
			<div class="container">
				<div class = "row">
					
					{% for user in donatur %}
					
					<div class = "col iniadalahsatudonatur">
						<div class="container">
							<div class = "row">
								<div class = "col-3">
									<img src="https://mbtskoudsalg.com/images/anonymous-person-png.png" style = "width : 100%;" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
								</div>
								<div class = "col">
									{% if user.anonim %}
									<p class = "h2">Anonim</p>
									{% else %}
									<p class = "h2">{{ user.nama_orang }}</p>
									{% endif %}
									<p class = "h3">Rp.{{ user.jumlah_donasi}}</p>
									<p>{{ user.pesan }}</p>
								</div>
								<div class="w-100"></div>
							</div>
						</div>
					</div>
					<div class="w-100"></div>
					
					{% endfor %}
					

				</div>
		</div>
</div>
</div>
</div>
</div>



{% endblock %}
