/* -------------- All -------------- */
html, body { 
    overflow-x: hidden; 
}

/* -------------- Navbar -------------- */
.nav-item {
    margin: 0 20px 0 0;
}

/* -------------- Footer -------------- */

.container {
    margin: 0;
}

#footer {
    background-color: #F2F2F2;
}

.icon-margin {
    margin: 0 10px 0 0;
}

.border-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-footer {
    padding: 0 20px;
}

.footer-margin-top {
    margin-top: 20px;
}

.footer-item-link {
    margin-top: 10px;
}

.footer-item-link a {
    text-decoration: none;
    color: #000000;
}

.footer-item-link a:hover {
    text-decoration: none;
    color: #7f8c8d;
}



/* -------------- Home -------------- */
.home-header {
    width: 100%;
    height: 100vh;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../image/home-head.png');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -200px; 
}

.home-header-quote h1 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20vh;;
    color: #FFFFFF;
    font-size: 96px;
    font-weight: bold;
}

.home-header-quote h2 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
    max-width: 350px;
    color: #FFFFFF;
    font-size: 36px;
}



.home-header-detail {
    position: absolute;
    width: 100%;
    min-height: 150px;
    bottom: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5); 
}

.home-header-detail h1 {
    font-size: 72px;
    font-weight: bold;
}

.home-trending {
    margin: 10px 5px 10px 5px;
}

.home-trending-item {
    padding: 20px 15px 0 15px;
}

.button-header-donate {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 24px;
}

.button-self-style {
    background: #FF4757;
}

.button-self-style:hover {
    background: #CE3846;
}


@media screen and (max-width: 767px){
    .home-header-detail h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 24px;
    }

    .home-header-quote {
        margin: 0;
        padding: 0;
    }

    .home-header-quote h1 {
        text-align: center;
        font-size: 32px;
    }

    .home-header-quote h2 {
        text-align: center;
        font-size: 24px;
        padding: 15px;
        margin: 0;
    }

    .col-md-8 {
        padding: 0;
        margin: 0;
    }

    .button-header-donate {
        width: 200px;
        text-align: center;
        margin-right: 20vw;
        padding: 5px 15px;
    }

}


