{% extends "base.html" %}

{% load static %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href="{%static "css/bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/bootstrap/bootstrap-grid.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/history.css" %}">
        <script src="{%static "js/history.js" %}"></script>
    {% endblock %}

    {% block main %}
    
    <body style="background-image: linear-gradient(to right top, #266074, #226a7d, #1c7385, #147d8d, #0b8794, #039099, #00989e, #00a1a2, #00aba5, #00b5a7, #00bfa8, #00c9a7);">
        <div style="padding-top: 100px; padding-bottom: 50px; color: white;" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 row">
                <div class="col-md-12 text-center">
                    <img id="profile-picture" src="https://www.marketaccesstransformation.com/wp-content/uploads/2018/01/profile-clipart-default-user-9.jpg" alt="">
                    <h2 id = "username"></h2>
                    <h5>Thank you Heroes! for donating in <b id = "total-campaign"></b> campaigns, with total <b id = 'total-donation'></b> </h5>
                </div>
                <div style="padding-top: 50px;" class="col-md-12 text-center">
                    <h4>This is your list of donation:</h4>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div id = "history-content" class="col-md-6">
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>      
    </body>
    {% endblock %}

</html>