/* -------------- All -------------- */
html, body { 
    overflow-x: hidden; 
    width: 100vw;
}

.no-padding {
    padding: 0 0 0 0px;
}

/* -------------- Navbar -------------- */
.navbar {
    padding: 0 1rem;
}

.nav-item {
    margin: 0 20px 0 0;
}

/* -------------- Footer -------------- */

.container {
    margin: 0;
}

#footer {
    background-color: #F2F2F2;
}

.icon-margin {
    margin: 0 10px 0 0;
}

.border-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-footer {
    padding: 0 20px;
}

.footer-margin-top {
    margin-top: 20px;
}

.footer-item-link {
    margin-top: 10px;
}

.footer-item-link a {
    text-decoration: none;
    color: #000000;
}

.footer-item-link a:hover {
    text-decoration: none;
    color: #7f8c8d;
}



/* -------------- Home -------------- */
.home-header {
    width: 100%;
    height: 100vh;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../image/home-head.png');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -200px; 
    margin: 0;
}

.home-header-quote h1 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20vh;;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
}

.home-header-quote h2 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
    max-width: 350px;
    color: #FFFFFF;
    font-size: 28px;
}



.home-header-detail {
    position: absolute;
    width: 100vw;
    min-height: 150px;
    bottom: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5); 
}

.home-header-detail h1 {
    font-size: 64px;
    font-weight: bold;
}

.total-donation h1 {
    font-size: 36px;
    padding-top: 15px;
}

.home-donate-button {
    margin-top: 30px;
}

.home-trending {
    margin: 10px 0px 10px 0px;
}

.home-trending-item {
    margin-top: 20px;
    /*padding: 20px 15px 0 15px;*/
}

.home-trending-item a {
    text-decoration: none;
    color: #000000;
    text-align: left;
}

.home-trending-item p {
    font-size: 18px;
    margin-top: 30px;
    max-width: 320px;
}

.home-trending-item h3 {
    padding: 0 5px;
}

.button-header-donate {
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 24px;
}

.home-trending-button {
    margin-top: 30px;
}

.home-find-out-more-button {
    padding: 7px 20px;
    font-size: 21px;
}

.button-self-style {
    width: 180px;
    text-align: center;
    background: #FF4757;
    color: #FFFFFF;
    margin: 0 auto;
}

.button-self-style:hover {
    background: #CE3846;
}

.home-trending-link {
    text-decoration: none;
}

.home-trending-item-list {
    margin-top: 25px;
    margin-right: 0;
    padding: 0;
    width: 98%;
    height: 200px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-trending-item-list-title {
    position: absolute;
    text-decoration: none;
    text-align: left;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    bottom: 0;
}


.home-campaign-section {
    background: rgba(72, 219, 251, 0.1);
}

.campaign-title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #48DBFB;
}

.campaign-card {
    margin: 40px auto;
    padding: 15px;
    height: 400px;
    width: 100%;
    max-width: 320px;
    background-position: right; 
}

.header-card {
    height: 180px;
}

.title-card {
    max-width: 320px;
}

.title-card h4 {
    margin-top: 20px;
    font-size: 18px;
}

.target-card {
    margin-top: 20px;
}

progress[value] {
    width: 200px; 
    height: 12px;
    background: #FFFFFF;
}

progress::-webkit-progress-value { 
    background: #48DBFB; 
}

.item-campaign {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 5px 10px;
    box-shadow: 5px 5px 5px grey;
}

.campaign-card a {
    text-decoration: none;
    color: #000000;
}

.home-campaign-button {
    margin: 20px auto;
    padding: 0;
}


.home-news-section {
    background: rgba(170, 224, 143, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.news-title {
    text-align: center;
    color: #78E08F;
    padding-bottom: 20px;
}

.big-news {
    max-width: 500px;
    height: 400px;
    background: #78E08F;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 10px;
    box-shadow: 5px 5px 5px grey;
}

.card-news {
    max-width: 500px;
    min-width: 100%;
    height: 120px;
    align-content: center;
    margin: 20px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 10px;
    box-shadow: 5px 5px 5px grey;
}

.head-img {
    background-size: cover;

    border-radius: 15px;
}

.detail-big-news {
    padding: 30px 20px;
    position: absolute;
    bottom: 0;
    text-align: left;
    float: none;
    color: #FFFFFF;
    max-width: 460px;
}

.detail-big-news h3 {
    font-weight: 600;
}

.detail-big-news p {
    font-size: 20px;
}

.news-trending-button {
    margin-left: 16px;
    margin-bottom: 15px;
}

.news-find-out-more-button {
    padding: 7px 20px;
    font-size: 21px;
}


.head-tutorial {
    height: 250px;
    width: 250px;
}


/*------------------login------------------*/
.body-login {
    width: 100%;
    height: 100%;
    border: 10px solid #48DBFB;
    border-radius: 10px;
    padding-top: 50px;
}

#icon {
    width: 40%;
}





@media screen and (max-width: 767px){
    .home-header-detail h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }

    .home-header-quote {
        margin: 0;
        padding: 0;
    }

    .home-header-quote h1 {
        text-align: center;
        font-size: 32px;
        margin: 0;
    }

    .home-header-quote h2 {
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        padding: 15px;
    }

    .home-donate-button {
        margin: 0 auto;
        text-align: center;
    }

    .button-header-donate {
        text-align: center;
        margin: 0 auto;
        padding: 5px 15px;
    }

    .found-us {
        padding-left: 15px;
    }

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
