{% extends "base.html" %}
{% block main %}
{% load static %}


<img src="https://image.ibb.co/i9Q9wL/OBDL960H.png" style = "width : 100%; height: 80%" class="img-fluid d-block" alt="news image">
<div class = "container-fluid">

	<div class ="row justify-content-center">
		<div class = "col-sm-12 col-md-6 col-lg-4">
			<br>
			<div class="embed-responsive embed-responsive-4by3">
	  			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3wUP7HsGvhM?rel=0&autoplay=1" allow="autoplay; encrypted-media"></iframe>
			</div>
		</div>
		
		<div class = "col-sm-12 col-md-6 col-lg-4">
			<p class="h1">BMKG: Gempa Susulan Masih Terjadi di Palu</p><br>
			<p>Pasca gempa 6,6 Skala Ritcher yang melanda Desa Wuasa, Kabupaten Poso, Sulawesi Tengah pada Senin (29/5) malam lalu, sejumlah warga yang tinggal di area pusat gempa masih tinggal di tenda darurat, karena masih takut dengan gempa susulan yang masih sering dirasakan.</p>
			<p>(Courtesy of KOMPASTV, Youtube)</p>
			<br> <a href="https://www.youtube.com/watch?v=7DGfQYqKr3I" class="btn text-light" style = "background-color: #FF4757;">Watch More</a>
		</div> 

	</div>
	<hr>
	<br>
	<div class ="row justify-content-center">
		{% if news %}
		{% for items in news %}

		<div class = "col-sm-12 col-md-4 col-lg-4" style="width: 7rem " >
				<img class="card-img-top" src={{ items.imageurl }} alt="Card image cap">
				<p class="h1"> <a href="{% url 'news:item' items.pk %}" style="color:black;"> {{ items.title }} </a></p>
				<p>{{ items.details|truncatechars_html:100}}<br>

		</div>
		
		{% endfor %}
		{% else %}
		<div class = "col-sm-12 col-md-4 col-lg-4" align = "center" style="width: 7rem">
			<h2>Belum ada berita</h2>
		</div>
		{% endif %}


	</div>
	<br><br><br>

</div>

{% endblock %}