/*------------------login------------------*/
body {
	background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../image/form-body.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -200px;
}

.top-body {
	padding-top: 10%;
	padding-left: 35%;
	padding-bottom: 10%;
}

.body-login {
    width: 250px;
    height: 400px;
    border: 10px solid #48DBFB;
    border-radius: 10px;
    padding-left: 3%;
	background-color: white;
}

#head-log {
	text-shadow: 1px 1px magenta;
	color: red;
}

#icon-gog {
	width: 100%;
}

#card1 {
	padding-top: 30%;
}
   
#icon {
	color: red;
	font-size: 30px;
}
/*
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
*/
@media screen and (max-width: 767px){

	.top-body {
		padding-top: 20%;
		margin-left: 0;
		padding-bottom: 20%;
	}

	.body-login {
	    width: 150px;
	    height: 300px;
	    border: 10px solid #48DBFB;
	    border-radius: 10px;
	    padding-left: 0;
		background-color: white;
	}

	#head-log {
		text-shadow: 1px 1px magenta;
		color: red;
	}

	#icon-gog {
		width: 10%;
		margin-left: 45px;
	}

	#card1 {
		padding-top: 30%;
		width: 30%;
	}

	#button {
		width: 100px;
		font-size: 10px;
		margin-left: 15px;
	}
	   
	#icon {
		color: red;
		font-size: 15px;
		margin-right: 20px;
	}

	body {
		background:linear-gradient(
	        rgba(0, 0, 0, 0.5), 
	        rgba(0, 0, 0, 0.5)
	      ), url('../image/form-body.jpg');
	    background-size: cover;
	    background-attachment: fixed;
	    background-position-y: -200px;
	}

}




