/* -------------- All -------------- */
html, body { 
    overflow-x: hidden; 
    width: 100vw;
}

.no-padding {
    padding: 0 0 0 0px;
}

/* -------------- Navbar -------------- */
.nav-item {
    margin: 0 20px 0 0;
}

/* -------------- Footer -------------- */

.container {
    margin: 0;
}

#footer {
    background-color: #F2F2F2;
}

.icon-margin {
    margin: 0 10px 0 0;
}

.border-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-footer {
    padding: 0 20px;
}

.footer-margin-top {
    margin-top: 20px;
}

.footer-item-link {
    margin-top: 10px;
}

.footer-item-link a {
    text-decoration: none;
    color: #000000;
}

.footer-item-link a:hover {
    text-decoration: none;
    color: #7f8c8d;
}



/* -------------- Home -------------- */
.home-header {
    width: 100%;
    height: 100vh;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../image/home-head.png');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -200px; 
    margin: 0;
}

.home-header-quote h1 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20vh;;
    color: #FFFFFF;
    font-size: 96px;
    font-weight: bold;
}

.home-header-quote h2 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
    max-width: 350px;
    color: #FFFFFF;
    font-size: 36px;
}



.home-header-detail {
    position: absolute;
    width: 100vw;
    min-height: 150px;
    bottom: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5); 
}

.home-header-detail h1 {
    font-size: 72px;
    font-weight: bold;
}

.home-trending {
    margin: 10px 0px 10px 0px;
}

.home-trending-item {
    /*padding: 20px 15px 0 15px;*/
}

.button-header-donate {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 24px;
}

.button-self-style {
    background: #FF4757;
}

.button-self-style:hover {
    background: #CE3846;
}


@media screen and (max-width: 767px){
    .home-header-detail h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }

    .home-header-quote {
        margin: 0;
        padding: 0;
    }

    .home-header-quote h1 {
        text-align: center;
        font-size: 32px;
        margin: 0;
    }

    .home-header-quote h2 {
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        padding: 15px;
    }

    .home-donate-button {
        margin: 0 auto;
        text-align: center;
    }

    .button-header-donate {
        text-align: center;
        margin: 0 auto;
        padding: 5px 15px;
    }
}

/*User img*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.user-profile {
    padding-top: 100px;
}
.user-img {
    background-color: #414958;
    background-image: url(../image/User-Avatar.png);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    padding-bottom: 100%;
    border-radius: 2px;
}

.profile-name {
    font-size: 21px;
    font-family: blogger_sanslight;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #F7F9FA;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
}

h3.widget-title {
    margin-bottom: 1em;
    font-family: 'blogger_sansitalic', Fallback, sans-serif;
}
